#wrapper {
  @include container;
//@include showgrid;
}
.wrapper { @include container }

#header {
  .wrapper {position:relative}
  padding:0 0 .5em;
  background:url('/images/bck_header.png') #33b300 bottom left repeat-x;
  @include append-bottom(2em);
  zoom:1;
  a {
    text-decoration:none;
    color:#F3F3F3;
    &:hover {color:#FF0}
  }
  p.logo {
    font-family: 'Lobster', arial, serif;
    display:inline; 
    margin:0; 
    text-align:left;
    font-size:2.8em;
    text-shadow:1px 1px 1px #555;
    line-height:1em;
  }
  p.tagline {
    display:block;
    margin:0 0 -.8em 0;
    font-size:1em;
    letter-spacing:1.2px;
    color:#F3F3F3;
    text-shadow:1px 1px 1px #555
  }
}

.wrapper { @include container;
//  @include showgrid;
}


ul.main-links {
  vertical-align:12%;
  display:inline; 
  text-align:left; 
  @include prepend(1);
  list-style:none;
  li {
    display:inline;
    margin-right:1.5em;
    text-shadow:1px 1px 1px #555
  }
}

#logo {
  @include column(14);
  @include prepend-top(.5em);
}

.search {
  text-align:right;
  @include prepend-top(2.2em);
  @include column(10, true);
}

/*=nav*/
#nav {
  position:absolute;
  right:0;
  height:26px;
  @include append-bottom(0);
  text-align:right;
  font-size:.9em;
  a {
    text-decoration:none;
    color:#F3F3F3;
    &:hover {color:#FF0}
  }
  ul {
    background:#380;
    float:right;
    padding:.1em .5em;
    margin:0;
    list-style:none;
    @include border-radius(0px 0px 5px 5px);
    li {
      display: inline; 
      margin: 0 .5em .5em 0; 
      border-right: 1px dotted #CCC; 
      padding-right: .5em; 
      font-size:.9em;
      &.last { 
        margin-right:0;
        border-right:none;
        padding-right:0;
      }
    }
  }
}

#main {
  @include column(18);
    @include append(1);
}
#sidebar { 
  @include column(5, true);
  h2 {font-size:1.4em}
  ul {list-style:none; margin-bottom:2em}
}

/*=footer*/
#footer {
  @include prepend-top(2em);
  padding:0 0 1em;
  background:#EEE;
  border-top:1px solid #CCC;
  zoom:1;
  .wrapper { max-width:960px; min-width:700px; padding:1em 0}
  ul {
    list-style:none;
    li {
      display:inline; margin-left:1em; border-left:1px dotted #CCC; padding-left:1em;
      &.first {margin-left:0; border-left:none; padding-left:0}
    }
  }
  p, li {font-size:.9em}
}

/*=recipe*/
#recipe { 
  @include container;
//@include showgrid;
  #main {
    @include append(1);
    @include column(14);
  }
  #sidebar {@include column(9,true)}
}

.avatar {vertical-align:middle}
