/*=hrecipe*/
.hrecipe {
  .meta {margin-left:64px}
  h1 {
    margin-bottom:0;
    font-size:2em;
    a {color:#333}
  }
  p.category {margin-bottom:0; font-size:1.2em}
  p.author {margin-bottom:.5em}
  h2.fn {margin:0}
  span.duration,
  span.num-persons {color:#666; font-size:.8em}
  div.instructions p {margin-bottom:1em}
  div.ingredient input {display:inline}
}

#recipe-ingredients {
  @include container;
  width:550px;
  @include append-bottom;
  @include prepend-top;
}

.recipe-ingredients {
  @include column(7);
}

.sidebar {
  ul.ingredients {
    list-style-type:disc; 
    padding-left:1.5em;
  }
}

ul.action-links {
  margin:.5em 0; font-size:.9em;
  li {margin-right:1em; line-height:1em; display:inline}
  li a {padding:1px 0 1px 18px}
}

.edit {background:url('/images/action-links.png') top left no-repeat}
.delete {background:url('/images/action-links.png') 0 -50px no-repeat}
.print {background:url('/images/action-links.png') 0 -100px no-repeat}
.send-email {padding-left:20px; background:url('/images/action-links.png') 0 -150px no-repeat}
.twitter {background:url('/images/action-links.png') 0 -200px no-repeat}
.facebook {background:url('/images/action-links.png') 0 -400px no-repeat}
#feed {background:url('/images/action-links.png') 0 -250px no-repeat}
#prev {background:url('/images/action-links.png') 0 -300px no-repeat}
#next {background:url('/images/action-links.png') 0 -350px no-repeat}


#recipe #sidebar { margin-top:61px }
#sidebar {
  li.recipe {
    clear:both;
    height:100px;
    margin-bottom:1em;
    img { float:left; margin-right:.5em }
    p {margin-bottom:0}
    p.name {font-size:1.2em}
  }
}
