<!-- AddThis Button BEGIN -->
.addthis_toolbox.addthis_default_style{:'addthis:url' => url, :'addthis:title' => title, :'addthis:description' => description} <a class="addthis_button_facebook_like" fb:like:layout="button_count" fb:like:width="120" style="width:120px;"></a>
  <a class="addthis_button_tweet"></a>
  <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
  <a class="addthis_counter addthis_pill_style"></a>
<!-- AddThis Button END -->
