%p
  = image_tag 'notification_done.png', :style => 'vertical-align:middle'
  = _('recipe sent')
  \.
%p{:style => "margin-top:.5em; margin-left:1.6em"}= link_to_function _('ok!'), "$('email-container').remove();"
