- unless current_user.nil?
  #like
    - if not current_user.likes.include?(recipe)
      = form_for recipe, :url => like_user_recipe_path(author, recipe), :remote => true do |f|
        = f.submit _('I like it!')
    - else
      = form_for recipe, :url => unlike_user_recipe_path(author, recipe), :remote => true do |f|
        = f.submit _("I don't like it yet!")
