- if current_user
  - if not current_user.likes.include?(recipe)
    = link_to _('like?'), like_user_recipe_path(author, recipe), 
      :remote => true, :method => :put, :class => :unlike
  - else
    = link_to _("you like"), unlike_user_recipe_path(author, recipe), 
      :remote => true, :method => :put, :class => :like
- else
  = link_to _('like?'), login_path, :class => :unlike
