#recipe-ingredients
  %h2
    = _("Ingredients")
    - if recipe.num_persons.present?
      %span.yield
        (#{_("for %{num} people") % {:num => recipe.num_persons}})

  %ul.ingredients
    = render recipe.recipe_ingredients.includes(:ingredient)
