<h2>categorías</h2>
<% unless @categories.blank? %>
  <ul class="featured-categories">
    <% @categories.each_with_index do |category, index| %>
      <li <%= "class=\"right\"" if (index + 1) % 3 == 0 %>>
        <h3><%= link_to category.name, category %></h3>
        <%= link_to "#{image_tag category.recipes.last.photo.url(:medium), :class => 'photo', :alt => category.recipes.last.name}", category, :title => "recetas de #{category.name}" %>
      </li>
    <% end %>
  </ul>
<% end %>
