- content_for :top do
  %h1= title _("All recipes")

- content_for :sidebar do
  = render "categories/sidebar", :user => nil, :categories => @categories

%ul.recipes
  = render @recipes

= will_paginate @recipes
