p, ul li {font-size:13px}
a {color:#000; text-decoration:none}
.logo {margin-top:0; font-weight:bold; font-size:1.4em}
.logo a {color:#000; text-decoration:none}
.logo a span.version {font-weight:normal; font-size:.4em}
.tagline {font-size:.6em}
h1 {margin-bottom:0; font-size:26px}
p.category {margin-top:0; margin-bottom:.5em; font-size:1.2em}
h2 {clear:both; font-size:18px; color:#380}
h2 span {color:#777}
img.photo {margin-bottom:1em}
#recipe-sidebar, .main-links, .toolbar, .search, .actions, #footer, .comments {display:none}
ul.ingredients {width:40%; float:left; margin:0 3em 2em 0; padding-left:1em}
.instructions {clear:both}
.instructions p {text-align:justify}
