- if user == current_user
  %p= link_to _("subscribe to your own recipes"), user_path(user, :format => :rss), :class => "feed-link"
- else
  %p= link_to _("subscribe to %{user}'s recipes") % {:user => user.name}, user_path(@user, :format => :rss), :class => "feed-link"

- content_for :feed do
  = auto_discovery_link_tag :atom, user_path(@user, :format => :rss), {:title => _("%{user}'s recipes") % {:user => @user.name} }
