- unless @recipes.blank?
  %ul.user-nav
    %li
      = nav_link_unless @user.recipes.blank?, num_recipes(@user.recipes.size), @user
    %li
      = nav_link_unless @user.followings.blank?, num_follows(@user.followings.size), user_follows_path(@user)
    %li
      = nav_link_unless @user.likes.blank?, num_likes(@user.likes.size), user_likes_path(@user)
