- unless user.categories.blank?
  %h3= _("categories")
  %ul
    = render :partial => 'category', :collection => user.categories, :locals => { :user => user }
    %li
      = link_to_unless_current _("all"), user
      %span.counter (#{user.recipes.size})
