- unless @recipes.blank? and current_user == @user
  .vcard[@user]
    = link_to image_tag(@user.avatar.url(:large), :class => "avatar", :alt => ""), @user
    %h1= link_to @user.name, @user
    - if current_user != @user
      #follow
        = render :partial => 'users/follow', :locals => {:user => @user}
