.wrapper
  %ul
    %li.first= link_to _("about rezets.com"), about_path
    %li= link_to _("blog"), blog_url
    %li= link_to _("contact"), feedback_path

  %p
    =raw(_("follow us on %{twitter} and %{facebook}") % { |
      :twitter => link_to("twitter",twitter_url), |
      :facebook => link_to("facebook",facebook_url)}) |
