<h1>acerca de rezets.com</h1>

<%= image_tag "bck_home_header.png", :alt => "recipe monkey", :class => "right" %>
<p><strong>rezets</strong>.com es un proyecto que surge de la necesidad, pero no de una necesidad como otra cualquiera, sino una necesidad básica, primaria, de primer orden, la necesidad de alimentarse, y además hacerlo bien (que uno es sibarita), y barato que (no está la economía como para ir tirando el dinero).</p>

<p>Por ese motivo, hace ya algún tiempo, comencé a darle vuestas al tema y a pensar de qué manera podría yo facilitarme la vida, no perder demasiado tiempo pensando en qué comer, guardar esas recetas bien organizadas para la próxima vez que las necesitara y por supuesto, aprender recetas nuevas de mis amigos.</p>

<p>Además, había otra razón por la cual comenzar un proyecto así. Necesitaba aprender un entorno de desarrollo web y tener un campo de batalla donde poder hacer y deshacer a mi antojo sin preocuparme de consecuencias, y ya que por aquel momento contaba con algunos compañeros de trabajo estupendos que se ofrecieron a enseñarme lo que sabían me decanté por usar <%= link_to "Ruby on Rails", "http://www.rubyonrails.org.es" %> para desarrollar mi idea.</p>

<p>Finalmente, este mes de agosto de 2009 me puse manos a la obra, marcandome como objetivo acabar el mes con la versión 0.1 de la web. El resto lo pueden ver por ustedes mismos. Espero que sea de su agrado y que puedan sacarle mucho partido a todo esto.</p>

<p>Gracias.</p>
