!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p= _("%{user} with email %{email} tell us:") % { :user => @mail_form.name, :email => @mail_form.email}
    .body
      = simple_format @mail_form.message
