@import "partials/base";
@import "partials/layout";
@import "partials/forms";
@import "partials/recipe";
@import "compass/css3/border-radius";

.last { @include last}
ul {margin:0; padding:0}
a {text-decoration:none}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#380}
h2 {margin-bottom:0}

#sidebar {
  h3 {margin-bottom:.6em}
}


/*=messages*/
div.msg {margin:2em 0}
div.msg h2 {margin-bottom:.5em}
div.msg p {margin-bottom:1em}
div.msg p.subtitle {font-size:1.8em; margin-bottom:.3em}
div.error_static {height:20em}
div.error_static p {margin-bottom:.5em}
div.blank {width:65%; padding:2em 3em; background:#f3f3f3}
div.welcome {width:70%; padding:2em 0}

#login {width:auto; margin:0 32%}
.sidebar {
  h2 {margin-bottom:0}
  h3 {margin-bottom:.3em}
  ul {list-style:none}
}

/*=home*/
.home-welcome {
  margin-bottom:2em;
  h1 {
    display:inline;
    font-size:1.6em;
  }
  p {display:inline}
}

.featured-recipes {
  h2 {font-size:1.4em}
  ul {
    li {
      @include inline-block;
      @include border-radius(4px);
      @include column(8);
      margin-top:.5em;
      margin-bottom:1em;
      padding:12px 20px;
      background-color:#EEE;
      h3 {margin-bottom:0; font-size:1.4em}
      .right {margin-right:0}
      img.photo {float:left}
      p {margin-bottom:0}
      p.user {margin:.2em 0}
      p.created {margin-top:.5em; text-align:right; font-size:.9em}
      &.last {
        @include column(8,true);
      }
    }
  }
}

ul.featured-users li.user {
  line-height:15px;
  margin:1em 0;
  border-bottom: 1px solid #DDD;
  padding-bottom:1em;
  height:50px;
  .avatar {float:left; margin-right:.5em}
  p {
    margin-bottom:0;
    &.meta {font-size:.9em}
  }
}

ul.users {
  li.user {
    float:left;
    margin-right:1em;
    margin-bottom:1em;
    background:#EEE;
    @include column(9);
    height:110px;
    .wrapper {padding:1em}
    .avatar {float:left}
    .content {margin-left:90px}
    h3 {margin-bottom:.2em}
    p {margin-bottom:0}
    .counters {float:left; width:120px;}
  }
  li.last {margin-right:0}
}

/*=login-form*/
div.login-form {margin-left:35%; padding:1em 0 3em}

/*=vcard*/
div.vcard {
  min-height:80px;
  margin-bottom:2em;
  width:600px;
  img {float:left; margin-right:1em}
  h1 {margin-bottom:0; font-size:2.4em;
    a {color:#333}
  }
  input.follow {@include fancy-button(#eb9e06)}
  input.unfollow {@include fancy-button(#be0a0a)}
  p { margin-bottom:0;
    span.ft { color:#999 }
  }
  .about { font-style: italic }
}

ul.user-nav {
  border-bottom:2px solid #CCC;
  margin-bottom:1em;
  li {
    display:inline;
    margin-right:2em;
    h2 {
      display:inline;
      font-size:1.2em;
      color:#666;
      &.current {
        color:#333;
        a { color: #333 }
      }
    }
  }
}

.feed-link {
  padding:.2px 0 2px 20px; 
  background:url('/images/feed16.png') top left no-repeat}

/*=comments*/
.comment {
  margin-top:3em;
  .avatar {
    float:left; 
    margin-right:.8em;
  }
  h3 {margin-bottom:.5em}
}
.inner-comment {margin-left:61px}
.inner-comment p.created-time {margin-top:.5em; text-decoration:none; color:#666}

/*=comment-new*/
#comment-new {margin-bottom:3em;
  label { font-weight:normal; font-size:1.5em; color:#380;}
  textarea {height:100px; width:38em}
  div.field {margin:0}
  p#submit {margin:0}
}

/*=ul.hrecipe*/
ul.recipes {
  clear:both;
  margin-left:0;
  list-style-type:none;
  li.hrecipe {
    position: relative;
    margin:.5em 0 1em;
    padding:1em; 
    background:#EEE;
    @include border-radius(5px);
    h2 {
      font-size:1.4em; margin-right:1em;
      span.ft { color:#666 }
    }
    p.category {font-size:1.2em; display:inline}
    p {margin-bottom:.5em}
    .r-meta p {margin-bottom:0; color:#666}
    .photo { float:left; margin:0 1em 0  0}
    .data { margin-left:110px}
  }
}

/*=pagination*/
div.pagination {
  margin:4em 0 2em;
  text-align:center;
  a {margin:0 .2em}
  em {margin:0 .2em; font-style:normal; font-weight:bold}
  span.disabled {display:none}
}

table#recipe_ingredients {
  width:600px; margin:.5em 0;
  thead th {padding:.2em;margin:0;background:#FFF}
  td {margin:0;padding:.2em 0}
}

#new-invitation {width:610px}
span.new {font-weight:bold; background:#ffeeaa}

/*=paginator*/
.prev_page img, .next_page img {vertical-align:middle}

/*=email*/
#email-container {
  position:absolute; width:300px; border:1px solid #380; padding:1em 2em; background:#FFF;
  p {margin-bottom:0; font-size:.9em}
  input.text { width:292px }
  p.title {font-size:1.2em; margin-bottom:.5em; font-weight:bold; color:#380}
  p.close-email-container {position:relative; float:right; left:4%}
  p.close-email-container a {text-decoration:underline}
  p.error {background:none; margin-bottom:0; border:0; padding:0}
  .ajax-indicator {position:absolute; margin-top:3px; margin-left:67px}
  .ajax-indicator img {vertical-align:middle}
  textarea {width:21em; height:8em}
}
